* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #e7e6e6;
}

.main-container {
  width: 35rem;
  height: 35rem;
  background-color: white;
}

.header {
  height: 4rem;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  display: flex;
  justify-content: start;
  align-items: center;
}

.header-image {
  height: 45%;
  margin-left: 1.25rem;
}

.header-title {
  font-size: 1.25rem;
  font-weight: 700;
  color: white;
  margin-left: 0.5rem;
  letter-spacing: -0.06rem;
}

.header-lesson {
  font-size: 0.81rem;
  font-weight: 500;
  color: white;
  margin-left: 9rem;
}

.meme-container {
  width: 30rem;
  height: 5.63rem;
  margin-left: 2.19rem;
}

.meme-input-container {
  width: 100%;
  margin-top: 2.25rem;
  height: 2.19rem;
  display: flex;
  justify-content: space-between;

}

.meme-input-field {
  width: 14.38rem;
  font-size: 0.80rem;
  padding-left: 0.69rem;
  border: 1px solid #D5D4D8;
  font-family: "Karla", sans-serif;
  color: black;
  border-radius: 0.32rem;
}

.meme-button {
  margin-top: 1rem;
  width: 30rem;
  height: 40px;
  background: linear-gradient(90deg, #711F8D 30.14%, #A818DA 100%);
  border-radius: 5px;
  border: none;
  font-family: "Karla", sans-serif;
  color: white;
  font-size: 0.95rem;
  letter-spacing: -0.06rem;
  font-weight: 700;
}

.meme-button:active {
  transform: translateY(2px);
}

.image {
  width: 30rem;
  height: 21.5rem;
  margin-top: 1rem;
  object-fit: contain;
}